extends ../layout

block content
  a(href='/bicicletas') Volver
  hr
  br
  br
  br
  h1 Nueva Bicicleta
  br
  br
  form(action='/bicicletas/create' method='post')
    label(for="id") ID:
    input#id(type="text" name='id')
    br
    label(for="color") Color:
    input#color(type="text" name='color')
    br
    label(for="modelo") Modelo:
    input#modelo(type="text" name='modelo')
    br
    label(for="lat") Latitud:
    input#lat(type="text" name='lat')
    br
    label(for="lng") Longitud:
    input#lng(type="text" name='lng')
    br
    br
    input.btn(type="submit" value="OK")
    // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
